/* FUNCTIONING */

#functioning {
  font-family: $font-family-secondary;
  padding: 20px 0;

  & h1 {
    margin: 20px;
    @include lg {
      font-size: 2rem;
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;
  @include lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}

.btnicon {
  display: flex;
  align-items: center;
  background-color: $color-section;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $color-btn-local;
  width: 80%;
  height: 75px;
  margin: 7% auto;
  font-weight: 500;
  padding: 20px;
  counter-increment: li;
  @include lg {
    width: 85%;
    margin: 2% auto;
    font-weight: 600;
    font-size: 1.2rem;
    height: 100px;
  }
  &::before {
    content: counter(li);
    color: white;
    background-color: $color-primary;
    min-width: 23px;
    min-height: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-right: 20px;
    @include lg {
      min-width: 35px;
      min-height: 35px;
      margin-left: -35px;
    }
  }
  & i {
    color: $color-icon-btn;
    width: 40px;
  }
}

.btnicon {
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 35%);
    box-shadow: 7px 7px 2px $color-btn-local;
    & i {
      color: $color-primary;
    }
  }
}

.fa-mobile-alt {
  font-size: 1.5rem;
}
