/* RESTAURANT */

#restaurants {
  background-color: $color-section;
  font-family: $font-family-secondary;
  padding: 20px 0;

  & h1 {
    margin: 20px;
    @include lg {
      font-size: 2rem;
    }
  }
  & h2 {
    font-size: 1.3rem;
  }
}

.restaurant {
  margin: auto;
  @include lg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &_figure {
    max-width: 100%;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
    position: relative;
  }
  &_new {
    position: absolute;
    background-color: $color-tertiary;
    color: $color-new;
    border-radius: 5px;
    padding: 5px;
    top: 20px;
    right: 15px;
    font-size: 1.4rem;
  }
  & img {
    min-width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    @include lg {
      width: 300px;
    }
  }
  &_figcaption {
    color: black;
    padding: 15px;
    position: relative;
  }

  &_like {
    @include like;
  }
}
