// colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-footer: #353535;
$color-section: #f6f6f6;
$color-btn-local: #eaeaea;
$color-icon-btn: #7e7e7e;
$color-new: #199678;

// polices
$font-family-main: "Shrikhand", Cursive, sans-serif;
$font-family-secondary: "Roboto", Georgia, sans-serif;

//animation menus plats
$anim-delay: 100ms;
$anim-tps: 125ms;
